<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Search Results</title>
    <link
        href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        rel="stylesheet"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
        crossorigin="anonymous"
    />
    <link rel="stylesheet" href="../css/starred.css" />
    <script src="../js/search.js"></script>
</head>

<body>
    <center>
        <div class="overlay" id="spinlay">
            <div class="loader" id="spinner"></div>
        </div>
    </center>
    <center>
        <h2 id="search-header">Search Results</h2>
    </center>
    <div id="parent-div">
        <!-- <div id="name"><button id="star-button" type="submit"></button></div>
        <img id="picture" src="" />
        <br>
        <p id="workplace"></p>
        <br>
        <hr> -->
    </div>
</body>
